{% extends "base.html" %}
{% block content %}
<h2>{{ item.name }}</h2>
<b>Creator:</b> {{ item.user.name }}<br>
<b>Created:</b> {{ item.created }}<br>
<b>Category:</b> <a href="/category/{{ item.category.id }}">{{ item.category.name }}</a><br>
<hr><br>
<b>Description:</b>
<textarea disabled>{{ item.description }}</textarea>
{% if login_session["user_id"] == item.user_id %}
<hr>
<a href="/category/{{ item.category.id }}/{{ item.id }}/delete">Delete</a> || <a href="/category/{{ item.category.id }}/{{ item.id }}/edit/">Edit</a>
{% endif %}
{% endblock %}